{% extends "index.html" %}

{% block content %}
<h1 class="logo cursive lo" style="font-family: cs">
    Team DeepWeek
</h1>
<br>


<div class="content">

    <div class="row">
        
        <form role="form" action="" method="post" style="color: white;">
            <div class="row">
                <div class="col-sm-12" style="text-align: center">

                </div>
                <br>
            </div>
            <div class="row" >
              <div class="col-sm-2 col-xs-1"></div>
              <div class="col-sm-8 col-xs-10" id="cont" style="padding: 0px">

                <div class="alert alert-success suc">
                
                  <h4><strong>Finalização da inscrição</strong></h4>
                    <p>Siga os passos abaixo para realizar o pagamento e concluir sua inscrição </p>
                </div>
                  <div class="alert alert-danger alert-dismissable" style="margin: 2%">
                    <h4><strong>Valor das Inscrições</strong></h4>
                    <h6>Pro Evolution Soccer 2017: </h6> Individual R$15,00    Dupla-inscrição R$25,00</h6> 
                    <h6>League of Legends:</h6> Time formado: R$35,00</h6> 
                    <h6>Counter Strike 1.6:</h6>    Time formado:  R$35,00</h6>
                    <strong><p>As inscrições poderão ser feitas até o dia 10/11</p></strong>

    
                   
                  <h4><strong>Instruções:</strong><br></h4>
                     
                      <strong>1º</strong> Sua pré-inscrição foi realizada! Agora você deve efetuar o pagamento da mesma.
                      Você pode escolher uma das formas de pagamentos disponíveis e efetuá-lo.

                      <br>  <br> <strong>2º</strong>
                      Você deve mandar uma foto ou print do extrato do depósito ou comprovate do PicPay
                      via WhatsApp para nossa equipe. Eles finalizarão sua inscrição. <br><br>
                      <h4><strong>Regras dos Jogos</strong></h4>
                      <strong>1º</strong> <a href="http://freetexthost.com/cy4ibulzzd" target="__blank">Clique para vizualizar</a>
                </div>
                  <ul class="list-group" style="color: black">
                      <li class="list-group-item">
                         <p><strong>Formas de pagamentos: </strong></p>
                          <p> Depósito Bancário, PicPay</p>
                      </li>
                      <li class="list-group-item">
                          <p><strong>Conta Bancária</strong></p>
                           <strong>Nome</strong><p>João Lucas Evangelista Cândido de Amorim</p>
                          <p><strong>Bradesco</strong><br> Agência: 6299 Conta: 11182-1</p>
                           <p><strong>Banco do Brasil</strong><br> Agência: 3280-8 Conta: 32635-6</p>
                          <hr>
                          <strong>Nome</strong><p>Elianaia Lima Costa</p>
                         <p><strong>Intermedium</strong><br> Agência: 0001 Conta: 849842-3</p>
                      </li>
                      <li class="list-group-item">
                          <p><strong>PicPay: </strong><br>Usuário: @joao.lucas.amorim</p>
                          <p><strong>PicPay: </strong><br>Usuário: @elianaia</p>
                      </li>
                      <li class="list-group-item">
                           <p><strong>Contatos</strong></p>
                          <p><strong>João Lucas: </strong> 99 98220-5165</p>
                          <p><strong>Email: </strong>jlucasevangelista153@gmail.com</p><hr>
                          <p><strong>Elianaia Lima: </strong> 99 98122-5619</p>
                          <p><strong>Email: </strong>elianai.costa434@gmail.com</p>
                      </li>
                  </ul>
              </div>
              <div class="col-sm-2"></div>
            </div>
        </form>
        <br>
         <br>
         <br>
    </div>
</div>
</div>
{% endblock content %}
{% block footer %}
{% endblock footer %}