<!doctype html>
<html lang="en" class="no-js">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600" rel="stylesheet">
	<link rel="stylesheet" href="/conograma/css/reset.css">
	<!-- CSS reset -->
	<link rel="stylesheet" href="/conograma/css/style.css">
	<!-- Resource style -->

	<title>DeepWeek Cronograma</title>
</head>

<body>
	<div class="cd-schedule loading">
		<div class="timeline">
			<ul>
				<li><span>07:30</span></li>
				<li><span>08:00</span></li>
				<li><span>08:30</span></li>
				<li><span>09:00</span></li>
				<li><span>09:30</span></li>
				<li><span>10:00</span></li>
				<li><span>10:30</span></li>
				<li><span>11:00</span></li>
				<li><span>11:30</span></li>
				<li><span>12:00</span></li>
				<li><span>12:30</span></li>
				<li><span>13:00</span></li>
				<li><span>13:30</span></li>
				<li><span>14:00</span></li>
				<li><span>14:30</span></li>
				<li><span>15:00</span></li>
				<li><span>15:30</span></li>
				<li><span>16:00</span></li>
				<li><span>16:30</span></li>
				<li><span>17:00</span></li>
				<li><span>17:30</span></li>
				<li><span>18:00</span></li>
				<li><span>18:30</span></li>
				<li><span>19:00</span></li>
				<li><span>19:30</span></li>
				<li><span>20:00</span></li>
				<li><span>20:30</span></li>
				<li><span>21:00</span></li>
				<li><span>21:30</span></li>
				<li><span>22:00</span></li>
				<li><span>22:30</span></li>
				<li><span>23:00</span></li>

			</ul>
		</div>
		<!-- .timeline -->

		<div class="events">
			<ul>


				<li class="events-group">
					<div class="top-info"><span>Terça</span></div>

				</li>

				<li class="events-group">
					<div class="top-info"><span>Quarta</span></div>
				</li>

				<li class="events-group">
					<div class="top-info"><span>Quinta</span></div>

					<ul>
						<li class="single-event" data-start="07:30" data-end="08:30" data-content="event-abs-circuit" data-event="event-1">
							<a href="#0">
							<em class="event-name">Credenciamento e Recepção </em><span style="color:white"> Refeitório da Devry
							Facimp</span>
						</em>
						</a>
						</li>
						<li class="single-event" data-start="08:30" data-end="09:30" data-content="event-abs-circuit" data-event="event-3">
							<a href="#0">
							<em class="event-name">Abertura</em>
						</a>
						</li>
						<li class="single-event" data-start="09:30" data-end="10:30" data-content="event-abs-circuit" data-event="event-2">
							<a href="#0">
							<em class="event-name">Palestra Magna </em> Professor Mestre Diego Marciel
						</a>
						</li>
						<li class="single-event" data-start="10:30" data-end="11:30" data-content="event-abs-circuit" data-event="event-4">
							<a href="#0">
							<em class="event-name">Mesa Redonda</em><span style="color:white">Tecnologi@: E a (r)evolução no Ensino Superior</span>
						</a>
						</li>



						<li class="single-event" data-start="19:30" data-end="20:30" data-content="event-abs-circuit" data-event="event-1">
							<a href="#0">
							<em style="font-size: 15px;"  class="event-name">Palestra Magna: O Futuro do Direito e da Sociedade na Era Digital</em><span style="color:white"> Professor Mestre Fabiano</span>
						</a>
						</li>

						<li class="single-event" data-start="20:30" data-end="21:30" data-content="event-rowing-workout" data-event="event-2">
							<a href="#0">
							<em style="font-size: 15px;" class="event-name">Palestra Crimes Cibernéticos</em><span style="color:white"> Professor Especialista Paulo Henrique Marinho </span>
						</a>
						</li>

						<li class="single-event" data-start="21:30" data-end="22:30" data-content="event-rowing-workout" data-event="event-4">
							<a href="#0">
							<em style="font-size: 15px;" class="event-name">Mesa Tecnologia na Sociedade</em>
						</a>
						</li>
					</ul>
				</li>

				<li class="events-group">
					<div class="top-info"><span>Sexta</span></div>

					<ul>
						<li class="single-event" data-start="08:00" data-end="11:00" data-content="event-rowing-workout" data-event="event-1">
							<a href="#0">
							<em class="event-name">Apresentação de Trabalhos Cientificos</em>
						</a>
						</li>

						<li class="single-event" data-start="19:00" data-end="20:30" data-content="event-abs-circuit" data-event="event-4">
							<a href="#0">
							<em style="font-size: 15px;" class="event-name">Palestra Tecnologia nas Empresas</em><span style="color:white">Professor Mestre Nonilton Santana</span>
						</a>
						</li>

						<li class="single-event" data-start="20:45" data-end="21:45" data-content="event-yoga-1" data-event="event-3">
							<a href="#0">
							<em style="font-size: 15px;" class="event-name">Palestra Saúde de Imperatriz</em><span style="color:white">Professor Mestre Vieira Junior</span>
						</a>
						</li>

						<li class="single-event" data-start="21:45" data-end="22:45" data-content="event-yoga-1" data-event="event-2">
							<a href="#0">
							<em style="font-size: 15px;" class="event-name">Palestra Tecnologia na Saúde</em><span style="color:white">Startup Doutor Bip</span>
						</a>
						</li>


					</ul>
				</li>
				<li class="events-group">
					<div class="top-info"><span>Sábado</span></div>
					<ul>
						<li class="single-event" data-start="08:00" data-end="11:00" data-content="event-rowing-workout" data-event="event-2">
							<a href="#0">
							<em class="event-name">Minicursos em diversas áreas do conhecimento.</em><span style="color:white">OBS: Na mesma hora estará sendo realizado o campeonato de LOL</span>
						</a>
						</li>

						<li class="single-event" data-start="14:00" data-end="19:00" data-content="event-abs-circuit" data-event="event-1">
							<a href="#0">
							<em class="event-name">Campeonato de Jogos: PES, CS e a continuação do LOL</em><span style="color:white">Na organização estará o 4º Périodo de Sistemas</span>
						</a>
						</li>



					</ul>
				</li>
			</ul>
		</div>

		<div class="event-modal">
			<header class="header">
				<div class="content">
					<span class="event-date"></span>
					<h3 class="event-name"></h3>
				</div>

				<div class="header-bg"></div>
			</header>

			<div class="body">
				<div class="event-info">Haverá sorteio de brindes entre as palestras principais do evento que ocorrerão a noite!! Participe!!</div>
				<div class="body-bg"></div>
			</div>

			<a href="#0" class="close">Close</a>
		</div>

		<div class="cover-layer"></div>
	</div>
	<!-- .cd-schedule -->
	<script src="/conograma/js/modernizr.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
	<script>
		if (!window.jQuery) document.write('<script src="js/jquery-3.0.0.min.js"><\/script>');
	</script>
	<script src="/conograma/js/main.js"></script>
	<!-- Resource jQuery -->
</body>

</html>
